// Min and max screen sizes
$screen-min: 20rem; // 320px
$screen-max: 70rem; // 1120px
// Breakpoints
$phone-upper-boundary: 48em; // 768px
$tablet-portrait-upper-boundary: 64em; // 1024px
$tablet-landscape-upper-boundary: 90em; // 1440px