@import './variables/index.scss';
@import './_buttons';
@import './Heading';
// @import 'bootstrap/scss/bootstrap';
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

//Medias
@media screen and (max-width: $screen-min) {
    body {
        background-color: var(--color--secondary);
    }
}

@media screen and (min-width: $tablet-portrait-upper-boundary) {
    body {
        background-color: --color--primary;
    }
}